<div ng-controller="githubController">
    <form ng-submit="getUserRepos()">
        <div class="form-group">
            <label for="githubUserName">GitHub Username:</label>
            <input id="githubUserName" type="text" name="name" value="" ng-model="userName" class="form-control"/>
        </div>

        <button type="button" ng-click="getUserRepos()" class="btn btn-primary btn-lg">Get Repositories for username</button>
    </form>

    <div>
        <span ng-bind="slnPath"></span>
    </div>

    <div class="panel">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="repo in userRepos"><a href="" ng-click="selectRepo(repo)" ng-bind="repo.name"></a></li>
        </ul>
    </div>


</div>