body {
    font-family: "Open Sans", serif;
}

.github-login {
    display: block;
}

.github-passthrough {
    text-align: center;
    align-content: center;
}

.github-login-container {
    text-align: center;
}
.github-login-container > span {
    font-size: x-large;
}

@media only screen and (min-width : 768px) {
    .navbar {
        max-height: 50px;
    }
}
