<div>
    <form>
        <div class="form-group">
            <label for="appSettingsFileUpload">Application Settings</label>
            <input type="file" class="form-control" file-model="appSettingsFile" id="appSettingsFileUpload" ng-disabled="isDisabled" />
        </div>
        <button ng-click="uploadFile()" type="button" class="form-control btn btn-primary" ng-disabled="isDisabled">Upload</button>
    </form>
    <div class="text-danger" ng-show="!hasAppSettings">
        Missing required `appsettings.txt`.
    </div>
    <br />
    <div>
        <div>
            <h4>Application Files</h4>
        </div>
        <div class="pull-right">
            <div class="checkbox-inline">
                <label for="enableDeleteFiles"><input type="checkbox" ng-model="allowDelete" id="enableDeleteFiles" />Delete</label>
            </div>
        </div>
        <table class="table">
            <tbody>
                <tr ng-repeat="file in files">
                    <td ng-bind="file" class="col-md-11"></td>
                    <td class="col-md-1"><button type="button" ng-click="deleteFile(file)" class="btn btn-danger" ng-disabled="!allowDelete">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>