<div ng-show="!ready" style="align-content: center;text-align: center">
    <img src="/img/Loading_icon.gif"/>
</div>
<div ng-show="ready" class="row">
    <div class="col-md-6">
        <h2 ng-bind="repo.name"></h2>
        <h5 ng-bind="repo.description"></h5>
        <table class="table table-bordered table-responsive">
            <tbody>
            <tr>
                <td>Solution Path</td>
                <td ng-show="projectExists" ng-bind="repoConfig.solutionPath"></td>
                <td ng-show="isValidRepository" ng-bind="repoConfig.solutionPath"></td>
                <td ng-show="!isValidRepository">N/A</td>
            </tr>
            <tr>
                <td>Branch</td>
                <td ng-show="isValidRepository" ng-bind="repoConfig.branch"></td>
                <td ng-show="!isValidRepository">N/A</td>
            </tr>
            <tr>
                <td>Git URL</td>
                <td ng-show="isValidRepository" ng-bind="repoConfig.repositoryUrl"></td>
                <td ng-show="!isValidRepository">N/A</td>
            </tr>
            <tr ng-class="{'danger': repoConfig.templateType === 'Unknown'}">
                <td>Template Type</td>
                <td ng-show="isValidRepository" ng-bind="repoConfig.templateType" style="font-weight: bold;font-family: bold;"></td>
                <td ng-show="!isValidRepository" class="danger">N/A</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h2>Settings</h2>
        <form >
            <div class="form-group">
                <label for="localOnlyAppCheckbox">Local Only Site?</label>
                <input type="checkbox" class="form-control" ng-model="repoConfig.localOnlyApp" id="localOnlyAppCheckbox" ng-disabled="repoConfig.templateType === 'Unknown'"/>
            </div>
            <div class="form-group" ng-show="!repoConfig.localOnlyApp">
                <label for="iisHostName">Host name</label>
                <input type="text" class="form-control" ng-model="repoConfig.hostName" id="iisHostName" ng-disabled="repoConfig.templateType === 'Unknown'"/>
            </div>
            <div class="form-group" ng-show="repoConfig.localOnlyApp">
                <label for="portTextBox">Local Port</label>
                <input type="number" class="form-control" ng-model="repoConfig.port" id="portTextBox" ng-disabled="repoConfig.templateType === 'Unknown'"/>
            </div>
        </form>
        <upload-settings owner-name="ownerName" repo-name="repoName" is-disabled="repoConfig.templateType === 'Unknown'" has-app-settings="hasAppSettings"></upload-settings>
    </div>

    <button type="button"
            class="btn btn-primary pull-right"
            ng-disabled="!(!creating && !projectExists && isValidRepository && (repoConfig.hostName || (repoConfig.localOnlyApp && repoConfig.port)) && hasAppSettings)"
            ng-click="createBuild()">Create TeamCity Project</button>

    <div ng-show="ready && success">
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
            <span class="sr-only">Success:</span>
            TeamCity config created successfully!
        </div>
    </div>
</div>