<div>
    <div ng-show="!ready" style="align-content: center;text-align: center">
        <img src="/img/Loading_icon.gif" />
    </div>
    <div ng-show="ready">
        <h2 style="display:inline-block"><a ng-href="{{tcProjectUrl}}" target="_blank" title="Open in TeamCity">{{repo.name}}</a></h2>
        <h5 ng-bind="repo.description"></h5>
        <div ng-if="ownerName && repoName">
            <upload-settings owner-name="ownerName" repo-name="repoName"></upload-settings>
        </div>
    </div>
    <br />
    <div class="pull-right">
        <div class="checkbox-inline">
            <input type="checkbox" id="deleteTcProjCheckbox" ng-model="proj.enableDelete"/><label for="deleteTcProjCheckbox">Delete</label>
        </div>
        <br />
        <button type="button" class="btn btn-danger" ng-disabled="!proj.enableDelete || !projectExists" ng-click="deleteBuild()">Delete TeamCity Project</button>
    </div>
</div>