<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <urlCompression doStaticCompression="true" doDynamicCompression="false"/>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
    </handlers>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="DebugMode" value="true"/>
    <add key="oauth.RedirectUrl" value="http://localhost:15728/"/>
    <add key="oauth.CallbackUrl" value="http://localhost:15728/auth/{0}"/>
    <add key="oauth.github.ClientId" value="7b85fdaf10fa8986379e"/>
    <add key="oauth.github.ClientSecret" value="{GitHubClientSecret}"/>
    <add key="oauth.github.Scopes" value="repo user"/>
    <add key="UserName" value="Layoric"/>
    <add key="Password" value="{Password}"/>
    <add key="ServerApiBaseUrl" value="http://localhost:8081/app/rest"/>
  </appSettings>
</configuration>